<div class="container">
<h1 align="center">About Us </h1>
<div style=" margin-right: 15px; margin-left: 15px; margin-top: 15px">
<div style="box-shadow: 10px 10px 10px  ghostwhite">

<div align="center"><p>VenYou is an event management platform where organizers are able to get the word out about their events. Our aim is to make looking for social events to make your weekends funa dn help you meet new people and experience a fun time, easy. <br> Users can sign up for free of charge and use this application. In addition to browsing and looking for events to attend, you can also create an event. <br> The scale of the events themselves can vary from intimate gatherings at the local pub to an international artists concert.<br>  This application is available as a Web, iOS and Android application.<br> This application started as a project for a a class and we have hopes to grow it into a professional application. </p>  </div>
<h2 align="center">Meet the Developers </h2>
<div class="row">

<div class="col-md-4 col-sm-4" >
  <div  class="classWithPad" style="height: 350px; width: 350px; box-shadow: 10px 10px 10px  ghostwhite ;  margin: 0 auto; text-align: center;">

    <!-- Info Card  -->

    <img src="../../../assets/kunal.jpeg" align="center" height="200" width="200">
    <h6>Kunal Paliwal</h6>
  
    </div>
    </div>


<div class="col-md-4 col-sm-4" >

  <div  class="classWithPad" style="height: 350px; width: 350px; box-shadow: 10px 10px 10px  ghostwhite;  margin: 0 auto; text-align: center;">

    <!-- Info Card  -->

    <img src="../../../assets/nikhil.png" align="center" height="200" width="200">
    <h6>Nikhil Prashar </h6>
  
    </div>
    </div>


<div class="col-md-4 col-sm-4" >

  <div class="classWithPad" style="height: 350px; width: 350px; box-shadow: 10px 10px 10px  ghostwhite ;  margin: 0 auto;text-align: center;">

    <!-- Info Card  -->

    <img src="../../../assets/pranjul.jpeg" align="center" height="200" width="200">
    <h6>Pranjul Arora</h6>
  </div>

    </div>


    <div class="col-md-4 col-sm-4" >

  <div  class="classWithPad" style="height: 350px; width: 350px; box-shadow: 10px 10px 10px  ghostwhite; margin: 0 auto; text-align: center; ">

    <!-- Info Card  -->

    <img src="../../../assets/kuber.jpeg" align="center" height="200" width="200">
    <h6>Kuber Kohli</h6>
  
    </div>
</div>

<div class="col-md-4 col-sm-4" >

      <div  class="classWithPad" style="height: 350px; width: 350px; box-shadow: 10px 10px 10px  ghostwhite ; margin: 0 auto; text-align: center;">

    <!-- Info Card  -->

    <img src="../../../assets/gauri.jpeg" align="center" height="200" width="200">
    <h6>Gauri Kolhe</h6>
  
    </div>
</div>

<div class="col-md-4 col-sm-4" >

      <div class="classWithPad" style="height: 350px; width: 350px; box-shadow: 10px 10px 10px  ghostwhite ;margin: 0 auto; text-align: center; ">

    <!-- Info Card  -->

    <img src="../../../assets/shagun.jpeg" align="center" height="200" width="200">
    <h6>Shagun Hegde</h6>
    </div>
    </div>
</div>
</div>
</div>
</div>